/* SETUP-VIDEO-BLOCK | 1.0.2 | 201001 | setup-video-block/scss/setup-video-block-style.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-VIDEO-BLOCK | 1.0.2 | 200929 | setup-be/block-custom/setup-video-block-106/video.scss
---------------------------------------------------------------------------------------------------- */
.video-block .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
  width: 68px;
  height: 48px;
  cursor: pointer;
  cursor: hand;
}
.video-block .video-image {
  position: relative;
  background-color: #333;
  padding-bottom: 56.25%;
  height: 0;
}
.video-block .video-image:hover {
  cursor: pointer;
  cursor: hand;
}
